build/
install/
doc/
.vscode/
__pycache__/
_*/

venv/

**/gramine_manifest/*.manifest
**/gramine_manifest/*.manifest.sgx
**/gramine_manifest/*.sig
**/gramine_manifest/*.token

*.log

exp/mlperf-training/
exp/mlperf-tr-ssdtct/

exp/mlperf-tr-langmdl/data/
exp/mlperf-tr-langmdl/cleanup_scripts/sample_data/